	<hr class="line">
<footer>
	<div class="col-md-1">
		<div class="logo"></div>
	</div>
	<div class="col-md-7">
	<div class="lockup">	
		<h3> LOLA.COLLECTIVE </h3>
		<p class="copyright">Copyright @ryanavilar</p>	
	</div>
	</div>
	<div class="col-md-4" id="socmed">
		<a href="{{site.facebook}}"><div class="fb-button col-md-1"></div></a>
		<a href="{{site.instagram}}"><div class="insta-button col-md-1"></div></a>
		<a href="{{site.twitter}}"><div class="twitter-button col-md-1"></div></a>
		<a href="{{site.spotify}}"><div class="spotify-button col-md-1"></div></a>
	</div>

</footer>

